.app {
  height: 100vh;
  overflow-y: auto;
  transition: $theme-transition-duration;
  @include theme {
    color: getThemeProperty('textPrimary');
    background-color: getThemeProperty('background');
  }
}
.container {
  position: relative;
  &.fixed-width {
    max-width: 1170px;
    margin: auto;
    padding: 0 66px;
    @include responsive-mobile {
      padding: 0 38px;
    }
  }
}