.app {
  height: 100%;
  transition: $theme-transition-duration;
  @include theme {
    color: getThemeProperty('textPrimary');
    background-color: getThemeProperty('background');
  }
  .container {
    max-width: 1170px;
    margin: auto;
  }
}