.banner {
  .layer-container {
    height: 820px;
    position: relative;
    overflow: hidden;
    @include responsive-mobile {
      max-height: 80vh;
    }
  }
  .layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &.click-through {
      pointer-events: none;
    }
  }
  .gradient-fade {
    height: 240px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background $theme-transition-duration;
    mask-image: linear-gradient(transparent, black);
    -webkit-mask-image: -webkit-linear-gradient(transparent, black);
    pointer-events: none;
    @include theme {
      background-color: getThemeProperty('background');
    }
    @include responsive-mobile {
      height: 100px;
    }
  }
  .page {
    height: 100%;
    display: none;
    flex-direction: row;
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include responsive-mobile-tablet {
        flex-direction: column;
      }
    }
    .section {
      @include responsive-desktop {
        max-width: 50%;
      }
    }
    .details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @include responsive-mobile-tablet {
        margin: 110px 0 50px 0;
      }
      .title {
        font-size: 68px;
        font-weight: 700;
        text-transform: uppercase;
        @include responsive-mobile {
          font-size: 62px;
        }
      }
      .description {
        font-size: 16px;
        margin-top: -11px;
        @include theme {
          color: getThemeProperty('textSecondary');
        }
      }
      .action {
        height: 44px;
        width: 130px;
        margin-top: 36px;
        display: block;
        border-radius: 22px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        line-height: 42px;
        cursor: pointer;
        pointer-events: auto;
        transition: color $theme-transition-duration, background $theme-transition-duration;
        @include theme {
          background-color: getThemeProperty('button');
          color: getThemeProperty('buttonText');
        }
      }
    }
    .image {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      @include responsive-desktop {
        justify-content: flex-end;
        flex-direction: column;
      }
      img {
        height: 690px;
        width: 690px;
        margin-bottom: -36px;
        transform: rotate(5deg);
        @include responsive-tablet {
          height: 500px;
          width: 500px;
        }
        @include responsive-mobile {
          height: 300px;
          width: 300px;
          margin-right: -68px;
        }
      }
    }
    &.animation-enter, &.animation-appear {
      display: flex;
      .details {
        .title, .description, .action {
          transform: translateY(25px);
          opacity: 0;
        }
      }
      .image img {
        transform: translateY(100%) rotate(20deg);
      }
    }
    &.animation-enter-active, &.animation-appear-active {
      display: flex;
      .details {
        .title {
          transition: opacity 600ms 500ms, transform 1s cubic-bezier(0.1, 0.5, 0.2, 1) 500ms;
          transform: translateY(0px);
          opacity: 1;
        }
        .description {
          transition: opacity 600ms 600ms, transform 1s cubic-bezier(0.1, 0.5, 0.2, 1) 600ms;
          transform: translateY(0px);
          opacity: 1;
        }
        .action {
          transition: opacity 600ms 700ms, transform 1s cubic-bezier(0.1, 0.5, 0.2, 1) 700ms;
          transform: translateY(0px);
          opacity: 1;
        }
      }
      .image img {
        transform: translateY(0%) rotate(5deg);
        transition: transform 6s cubic-bezier(.19,1,.22,1) 400ms;
      }
    }
    &.animation-enter-done {
      display: flex;
    }
    &.animation-exit {
      display: flex;
    }
    &.animation-exit-active {
      display: flex;
      .details {
        opacity: 0;
        transform: scale(0.95);
        transition: transform 200ms, opacity 200ms;
      }
      .image img {
        transform: translateY(150px) rotate(-10deg);
        opacity: 0;
        transition: opacity 500ms, transform 500ms cubic-bezier(.55,.09,.68,.53);
      }
    }
  }
  .page-indicator {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .dot-container {
      height: 15px;
      width: 15px;
      cursor: pointer;
      opacity: 0.15;
      transition: opacity 200ms;
      .dot {
        height: 9px;
        width: 9px;
        margin: 2px;
        background: #8793a0;
        border-radius: 100%;
        transition: background $theme-transition-duration;
        @include theme {
          background-color: getThemeProperty('indicator');
        }
      }
      &:hover {
        opacity: 0.5;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}