.tags {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  .tag-container {
    display: flex;
    flex-direction: row;
    margin: -9px;
    .tag {
      height: 30px;
      width: 85px;
      margin: 9px;
      border-radius: 17px;
      border: 2px solid rgba(135, 147, 160, 0.5);
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      line-height: 30px;
      color: #8793a0;
    }
  }
}